<div class = "container" style="text-align:center"> 
<h3 >Welcome to Veterinary Practice!</h3>
<div>
  <ol>
    <li><em>admin</em>@example.com / password</li>
    <li><em>veterinarian</em>@example.com / password</li>
    <li><em>receptionist</em>@example.com / password</li>
    <li><em>customer</em>@example.com / password</li>
  </ol>
</div>
</div>